include body.pug

footer.footer
	.container
		p © April 2018 Brandon Yee
	//- Load JS libraries from jsDelivr CDN.
	script(src="https://cdn.jsdelivr.net/g/jquery@2.2.3,jquery.color-animation@1.6.0,lodash@4.12.0,socket.io-client@1.3.2,html5shiv@3.7.3(html5shiv.min.js+html5shiv-printshiv.min.js)")
	script(src="js/all.js")