doctype html
html(lang="en")
	include includes/head.pug
	body
		section.hero.is-full-height
			.hero-head
				include includes/nav.pug
			.hero-body
				.container.has-text-centered
					h1.title.is-1(style="padding-top: 1rem;") Template
			.hero-foot
		article.article
			include includes/body.pug
			+section("Your Clean Energy Report")
				p 
					strong *Integers, please!
				br
				div.totalnrgfield
					h4 Total Household Energy Use:
					form 
						.label How many are in your household?
						- var members = "[?] people";
							input(class="input", type="text", placeholder="2, 3, etc.")
						br
						br
						.label How many rooms does your house have?
						- var rooms = "[?] rooms";
							input(class="input", type="text", placeholder="7, 8, etc.")
						br
						br
						p Estimate:
						br
				div.gasfield
					h4 Gas and Transportation:
					form 
							.label Make and Model:
							- var makenmodel = "my car";
								input(class="input", type="text", placeholder="2008 Ford Escape, etc.")
							br
							br
							.label Miles/Gallon (City):
							- var mipg = "miles per gallon";
								input(class="input", type="text", placeholder="24, 25, etc.")
							br
							br
							.label Dollars/Gallon:
							- var dollarsg = "dollars per gallon";
								input(class="input", type="text")
							br
							br
							.label Your Miles/Day:
							- var mipday = "miles per day";
								input(class="input", type="text")
							- var mipyr = parseFloat(mipday)*365;
							- var dollarsyr = parseFloat(mipyr)*parseFloat(mipg)*parseFloat(dollarsg);
							br
							br
							p You drive a #{makenmodel} and spend approximately #{dollarsyr} dollars annually on gas or fuel.





		//- Footer
		include includes/footer.pug