doctype html
html(lang="en")
	include includes/head.pug
	body
		section.hero.is-full-height
			.hero-head
				include includes/nav.pug
			.hero-body
				.container.has-text-centered
					h1.title.is-1(style="padding-top: 1rem;") Template
			.hero-foot
		article.article
			include includes/body.pug
			+section("Six Sustainability Goals")
				a(href="/localfood.html")
					div(class="circle", id="localfood") 
						h3.one 
							strong Local Food
				a(href="/cleannrg.html")
					div(class="circle", id="cleannrg") 
						h3.one
							strong Clean Energy
				a(href="/userportal.html")
					div(class="circle", id="userportal")
						h3.one
							strong User Info
				a(href="/natresources.html")
					div(class="circle", id="natresources")
						h3.two
							strong Natural Resources
				a(href="/grnworkforce.html")
					div(class="circle", id="grnworkforce")
						h3.two
							strong Green Education
				a(href="/sustainablecomm.html")
					div(class="circle", id="sustainablecomm")
						h3.two
							strong Sustainable Communities
				a(href="/wastereduce.html")
					div(class="circle", id="wastereduce")
						h3.two
							strong Waste Reduction

		//- Footer
		include includes/footer.pug