doctype html
html(lang="en")
	include includes/head.pug
	body
		section.hero.is-full-height
			.hero-head
				include includes/nav.pug
			.hero-body(style="padding-bottom: 0px;")
				.container.has-text-centered
					h1.title.is-1(style="padding-top: 3rem;") Local Food
			.hero-foot
		article.article
			include includes/body.pug
			+section("")
				.tile.is-ancestor
					.tile.is-vertical.is-8
						.tile
							.tile.is-parent.is-vertical
								article.tile.is-child
									p.title Map
									.field.has-addons
										.control.is-expanded
											input#restaurantSearch.input(type="text", placeholder="Find a restaurant")
										.control
											a#restaurantSearchBtn.button.is-info
												span Search
									div#map.is-fullwidth(style="height: 20rem;")
								article#checkInTile.tile.is-child
									p.title Check-In
									.box
										article.media
											.media-left
												figure.image.is-64x64
													img#restaurantPic
											.media-content
												.content
													p
														strong#restaurantName
														br
														span#restaurantAddress
													p
														button.button#checkInBtn Check-in
					.tile.is-vertical
						.tile
							.tile.is-parent.is-vertical(style="max-height: 23rem; overflow: scroll;")
								article.tile.is-child.notification.is-warning
									p.title Leaderboard
									p.subtitle: strong Current Stats: 500 points
									ol
										li John - 500 points
										li Bob - 400 points
									hr.hr
									p.subtitle: strong Recent Visits
									ul#recentVisits
								//- article.tile.is-child.is-warning
								//- 	p.title Vouchers
								//- 	p Coming soon!

		//- Footer
		include includes/footer.pug
		script(async, defer, type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB77nR_TKpRV6CJ_B5kgqOzK8NshI61AhI&callback=initMap")