doctype html
html(lang="en", title="ZEROin")
	include includes/head.pug
	body
		section.hero.is-full-height
			.hero-head
				include includes/nav.pug
			.hero-body
				.container.has-text-centered
					h1.title.is-1(style="padding-top: 3rem;") ZEROin
			.hero-foot
		article.article
			include includes/body.pug
			+section("My Information")
				h4 Local Food
				div(class="progress is-large", id="localfoodprogress", value="30", max="100", )  --- 30% 
				h4 Clean Energy
				div(class="progress is-large", id="cleannrgprogress", value="50", max="100", )  --- 50%
				h4 Natural Resources
				div(class="progress is-large", id="natresourcesprogress", value="75", max="100", )  --- 75%
				h4 Green Education
				div(class="progress is-large", id="grnworkforceprogress", value="0", max="100", )  --- 0%
				h4 Green Education
				div(class="progress is-large", id="grnworkforceprogress", value="0", max="100", )  --- 0% Get Started!
				h4 Sustainable Communities
				div(class="progress is-large", id="sustainablecommprogress", value="0", max="100", )  --- 0% Get Started!
				h4 Waste Reduction
				div(class="progress is-large", id="wastereduceprogress", value="0", max="100", )  --- 0% Get Started!
		//- Footer
		include includes/footer.pug