doctype html
html(lang="en")
	include includes/head.pug
	body
		section.hero.is-full-height
			.hero-head
				include includes/nav.pug
			.hero-body
				.container.has-text-centered
					h1.title.is-1(style="padding-top: 1rem;") User Info
			.hero-foot
		article.article
			include includes/body.pug
			+section("My Progress Information")
				h4 Local Food
				progress.progress.is-large.is-success#localfoodprogress(value="30", max="100")  --- 30% 
				h4 Clean Energy
				progress.progress.is-large.is-warning#cleannrgprogress(value="50", max="100")  --- 50%
				h4 Natural Resources
				progress.progress.is-large.is-primary#natresourcesprogress(value="75", max="100")  --- 75%
				h4 Green Education
				progress.progress.is-large.is-link#grnworkforceprogress(value="2", max="100")  --- 0%
				h4 Sustainable Communities
				progress.progress.is-large.is-info#sustainablecommprogress(value="8", max="100")  --- 0%
				h4 Waste Reduction
				progress.progress.is-large.is-danger#wastereduceprogress(value="45", max="100")  --- 0%
		//- Footer
		include includes/footer.pug